body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
    line-height: 1.8;
    color: black;
}

/* navbar section */
.sitenav{
  padding: 20px;
  background:transparent;
  border: none;
  margin-top: 10px;
  box-shadow: none;
}
.navbar-default .navbar-nav > li > a {
  color:black;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 0.1em;
  font-family: 'PT Serif', serif;
}

.btn-login{
  border:1px solid black;
  padding:10px 30px; 
  border-radius: 3px;
  
}
.btn-login:hover{
  border:1px solid #777;
}

.brand_image img{
  height: 50px;
  width: 110px;
  margin-top:-20px;
  margin-left: -40px;
}

.search_tag{
  font-size: 18px;
  color: #777;
}

/* body first row section */
.village_img img{
  width: 100%;
}
.app_head{
  padding: 15px 20px;
}

.app_head h2{
  color: #129bd7;
  font-weight: bold;
 
}
.app_head .app{
  color:#939597;
}
.village_util{
  margin-top: 30px;
}
.village_util h1{
  color: #3d91cd;
  font-weight: bold;
  font-family: 'PT Serif', serif;
  letter-spacing: 1.2px;
  font-size: 32px;
  line-height: 50px;
  margin-bottom: -30px;
}
.village_content{
  margin-top: -20px;
  font-size: 17px;
  line-height: 1.75;
  margin: 18px 0 0;
  margin: 36px 0px 0px 0px;
  color:#777777;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.getstarted_btn{
  height: 50px;
  width: 280px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #0088cc;
  border:none;
  border-radius: 50px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  
}
.getstarted_btn:hover{
  background-color: white;
  color:#0088cc;
  border: 1px solid #0088cc;
  cursor: pointer;
  
}

.family_heading{
  margin-top: 20px;
  text-align: center;
}
.family_heading h3{
  text-transform: uppercase;
  color: #0088cc;
  font-weight: 600;
  margin-top:40px;
}
.family_descp{
  font-size: 16px;
  margin: 10px 5px 10px;
  color:#777777;
  padding: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.family_image{
  text-align: center;
}
.family_image img{
  margin-top: 30px;
  width: 100%;
}

.family_body{
  background-color:#f6f6f6;
  
}
.site_features{
  padding:100px 15px;
}
.app_image img{
  width: 100%;
  border-radius: 5px;
}
.app_image{
  box-shadow: 2px 20px 15px rgba(152, 138, 138, 230)
}
.app_body{
  padding: 20px;
  text-align: left;
  font-size: 16px;
  line-height: 1.75;
  color: #777777;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.app_heading h3{
  color:#303133;
  font-weight: 600;
}
.app_descp{
  padding: 10px;
}

.secondrow{
  padding: 80px 15px;
}

.app_header{
  text-transform: uppercase;
  color: #0088cc;
  padding: 5px;
  border:2px solid #0088cc;
  text-align: center;
  margin-top: -80px;
  width: 80%;
  border-radius: 3px;
}
.app_header h3{
  font-weight: 700px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.app_middle{
  text-align:center;
}

.fooslider{
  margin-top:30px;
  background-color:#4d6672;;
  box-shadow: 2px 12px 20px rgb(128, 114, 114);
  margin-bottom: 100px;
}
.fooslider img{
  width: 30%;
  /* border: 1px solid white; */
  /* padding: 10px; */
}
.carousel-caption{
  color:#e6ecef;
  text-shadow: none;
  font-size: 18px;
  position: relative;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  right: 0;
  bottom: 0;
  left: 0;
}
.slider_descp{
  text-align: left;
}
.slider_descp h3{
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
.slider_body{
  height: 250px;
  padding: 30px;
}




















































































/* Media Query */

/* this is for extra small device */

@media(max-width: 767px){
  body{
      background-color: red;
  }
  /* for brand image */
  .brand_image img{
    margin-top:-20px;
    margin-left: -10px;
  }
  
}  


/* This is for small device */
@media (min-width: 768px) and (max-width: 991px){
  body{
      background-color: yellow;
  }
  /* for brand image */
  .brand_image img{
    margin-top:-20px;
    margin-left: -20px;
  }
}


/* This is for large device */
@media (min-width: 1200px){
  body{
      background-color:white;
  }
  /* for brand image */
  .brand_image img{
    margin-top:-20px;
    
  }
  .navbar-right{
    float: right !important;
    margin-right: -70px;
  }
}


/* This is for medium screen */
@media (min-width: 992px) and (max-width: 1280px) {
  body{
      background-color: #0c8aab;
  }
  /* for brand image */
  .brand_image img{
    margin-top:-20px;
    margin-left: -10px;
  }
  .navbar-right{
    float: right !important;
    margin-right: -50px;
  }

}  