body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
    line-height: 1.8;
    color: black;
}

/* navbar section */
.sitenav{
  padding: 10px;
  background:transparent;
  border: none;
  margin-top: 10px;
  box-shadow: none;
}
.navbar-default .navbar-nav > li > a {
  color:black;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 0.1em;
  font-family: 'PT Serif', serif;
}

.btn-login{
  border:1px solid black;
  padding:10px 30px; 
  border-radius: 3px;
  
}
.btn-login:hover{
  border:1px solid #777;
}

.brand_image img{
  height: 50px;
  width: 110px;
  margin-top:-20px;
  margin-left: -40px;
}

.search_tag{
  font-size: 18px;
  color: #777;
}

/* body first row section */
.village_img img{
  width: 100%;
  margin-top: 30px;
}
.app_head{
  padding: 15px 20px;
}

.app_head h2{
  color: #129bd7;
  font-weight: bold;
 
}
.app_head .app{
  color:#939597;
}
.village_util{
  margin-top: 30px;
}
.village_util h1{
  color: #3d91cd;
  font-weight: bold;
  letter-spacing: 1.2px;
  font-size: 25px;
  line-height: 40px;
  margin-bottom: -25px;
}
.village_content{
  margin-top: -20px;
  font-size: 17px;
  line-height: 1.75;
  margin: 18px 0 0;
  margin: 36px 0px 0px 0px;
  color:#605237;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.getstarted_btn{
  height: 50px;
  width: 280px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #0088cc;
  border:none;
  border-radius: 50px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  
}
.getstarted_btn:hover{
  background-color: white;
  color:#0088cc;
  border: 1px solid #0088cc;
  cursor: pointer;
  
}

.family_heading{
  margin-top: 20px;
  text-align: center;
}
.family_heading h3{
  text-transform: uppercase;
  color: #0088cc;
  font-weight: 600;
  margin-top:40px;
  margin-bottom: 20px;
}
.family_descp{
  font-size: 16px;
  color:#605237;
  padding: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 20px;
}
.family_image{
  text-align: center;
}
.family_image img{
  margin-top: 10px;
  width: 80%;
  opacity: 0.8;
  margin-bottom: 40px;
}

.family_body{
  background-color:#f6f6f6;
  
}
.site_features{
  padding:20px 15px;
}
.app_image img{
  width: 100%;
  border-radius: 5px;
}
.app_image{
  box-shadow: 2px 20px 15px rgba(152, 138, 138, 230)
}
.app_body{
  padding: 20px;
  text-align: left;
  font-size: 16px;
  line-height: 1.75;
  color: #605237;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.app_heading h3{
  color:#363636;
  font-weight: 600;
}
.app_descp{
  padding: 10px;
}

.secondrow{
  padding: 80px 15px;
}

.fooslider{
  margin-top:30px;
  background-color:#214e40;
  box-shadow: 2px 12px 20px rgb(128, 114, 114);
  margin-bottom: 50px;
}
.fooslider img{
  width: 40%;
  /* border: 1px solid white; */
  /* padding: 10px; */
}
.carousel-caption{
  color:#e6ecef;
  text-shadow: none;
  font-size: 18px;
  position: relative;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  right: 0;
  bottom: 0;
  left: 0;
  width: 90%;
}
.slider_descp{
  text-align: left;
}
.slider_descp h3{
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:#ffdb79;
}
.slider_body{
  height: 250px;
  padding: 25px;
}
.dashboard_heading h3{
  text-transform: uppercase;
  color: #0088cc;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}
.resource_heading h3{
  text-transform: uppercase;
  color: #0088cc;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}
/* get started body section */
.getstartedbody{
  background-color:white;
}
.getstarted_header h3{
  text-transform: uppercase;
  color: #0088cc;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}
.getstarted_header p{
  font-size: 17px;
  text-align: center;
  margin-top: -20px;
  line-height: 1.75;
  color: #999c9c;
  letter-spacing: 0.9px;
}
.txtinput{
  height: 40px;
  box-shadow: none;
  background-color: white;
  font-size: 14px;
}
.signupbody{
  padding: 30px;
  margin-bottom: 40px;
}
.getsignup_btn{
  height: 42px;
  width: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: #0088cc;
  border: none;
  padding: 8px;
  text-align: center;
  cursor: pointer;
  margin-top: 20px;
}
.getsignup_btn:hover{
  background-color:#209ad6;
  color: white;
  border: 1px solid #0088cc;
  cursor: pointer;
}
.price_card3,
.price_card1{
  /* height: 300px; */
  border: 1px solid #babebf;
  box-shadow: 1px 10px 10px #58676e;
  margin-top: 50px;  
  text-align: center;
  padding: initial;
  border-radius: initial;
}
.price_card2{
  border: 1px solid #babebf;
  box-shadow: 1px 10px 10px #58676e;
  text-align: center;
  padding: initial;
  border-radius: initial;
}
.app_price{
  background-color: #f6f6f6;
  padding: 40px;
  text-align: center;
}

.pricing_heading h3{
  text-transform: uppercase;
  color:#0088cc;
  font-weight: 600;
  margin-bottom: 10px;
}
.pricing_heading p{
  font-size: 17px;
  text-align: center;
  line-height: 1.75;
  letter-spacing: 0.9px;
  color:black;
  margin-bottom: 30px;
  font-weight: bold;
}
.thumb_head{
  text-align: center;
  padding: 15px 0px 0px;
  text-transform: uppercase;
}
.thumb_head h6{
  font-size: 15px;
  font-weight: bold;
}
.thumb_foo{
  background-color:#605237;
  padding: 12px;
  margin-top:-17px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: -1px;
}

.thubm_body{
  padding: 20px;
}

.village_util_btn{
  border-right: 1px solid white;
}
.village_util_btn:hover{
  cursor: pointer;
  color: white;
}
.village_analytics_btn:hover{
  color: white;
  cursor: pointer;
}
.thubm_body h1{
  font-size: 40px;
  font-weight: bold;
}
.thubm_body p{
  font-size: 16px;
  line-height: 1.75;
  color: #605237;
}
/* footer section */
.footer{
  background:#1b1d1f;
  color: white;
  text-align: center;
  padding: 50px;
}

/* app body seciton */
.appbody{
  height: 600px;
  /* margin-top: -130px; */
  /* background-color: #78daf3; */
  background-color: #0c8aab;
  background-image: url('/image/bodybanner1.png');
  background-repeat: no-repeat;
  background-position: cover;
  background-size: auto;
  background-attachment: fixed;
  /* background-color: rgba(25, 141, 187, 0.616); */
}
.village_body{
  color:black;
  padding: 50px;
  margin-top: 130px;
 }

.village_body h1{
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  color: #bec2c5;
  margin-bottom: 20px;
}


























































/* Media Query */

/* this is for extra small device */

@media(max-width: 767px){
  body{
      background-color:none;
  }
  /* for brand image */
  .brand_image img{
    margin-top:-20px;
    margin-left: -10px;
  }
  
}  


/* This is for small device */
@media (min-width: 768px) and (max-width: 991px){
  body{
      background-color: yellow;
  }
  /* for brand image */
  .brand_image img{
    margin-top:-20px;
    margin-left: -20px;
  }
}


/* This is for large device */
@media (min-width: 1200px){
  body{
      background-color:white;
  }
  /* for brand image */
  .brand_image img{
    margin-top:-20px;
    
  }
  .navbar-right{
    float: right !important;
    margin-right: -70px;
  }
}


/* This is for medium screen */
@media (min-width: 992px) and (max-width: 1280px) {
  body{
      background-color: #0c8aab;
  }
  /* for brand image */
  .brand_image img{
    margin-top:-20px;
    margin-left: -10px;
  }
  .navbar-right{
    float: right !important;
    margin-right: -50px;
  }

}  